header {
  width: 100%;
  padding: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}

header ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

header li:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}
